<p>html-css-sandbox works!</p>

<h1>Naglowek</h1>
<!-- <h2>Naglowek</h2> -->
<h5 class="custom-class margin-left-20">Naglowek</h5>
<h6>Naglowek</h6>

<p class="custom-class margin-left-20">Jakis tekst </p>
<p>Drugi akapit
    <a id="action-google" href="https://google.pl">Adres do Google</a> 
</p>


<!-- <img src="https://www.w3schools.com/tags/img_girl.jpg" 
alt="obraz" width="100px" height="100px"> -->

<input placeholder="Imię i nazwisko" name="input_name" type="text"/>
<input type="radio"/>
<ul>
    <li>Element1</li>
    <li>Element2</li>
</ul>

<ol>
    <li>Element1</li>
    <li>Element2</li>
</ol>

<select>
    <option>Opcja1</option>
    <option>Opcja2</option>
</select>