<h4>Lista studentów</h4>

<table class="table table-striped table-hover">
    <!-- Nagłówek -->
    <thead>
        <tr>
            <th>Id</th>
            <th>Imię i nazwisko</th>
            <th>Adres email</th>
            <th>Operacje</th>
        </tr>
    </thead>
    <!-- Zawartosc - wiersze z rekordami -->
    <tbody class="table-group-divider">
        <tr>
            <td>1</td>
            <td>Jan Kowalski</td>
            <td>kowalski@gmail.com</td>
            <td>
                <button class="btn btn-outline-warning">Edytuj</button>
                <button style="margin-left:5px" class="btn btn-outline-danger">Usuń</button>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Piotr Nowak</td>
            <td>nowak@gmail.com</td>
            <td>
                <button class="btn btn-outline-warning">Edytuj</button>
                <button style="margin-left:5px" class="btn btn-outline-danger">Usuń</button>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>Jan Nowak</td>
            <td>nowak@gmail.com</td>
            <td>
                <button class="btn btn-outline-warning">Edytuj</button>
                <button style="margin-left:5px" class="btn btn-outline-danger">Usuń</button>
            </td>
        </tr>
    </tbody>
</table>